<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>blogz</title>
    <!--<link href="style.css" rel="stylesheet" type="text/css" />-->
  </head>

  <header>
    <a href="https://Blogz.awomack333.repl.co">Home Page</a>&nbsp;&nbsp;&nbsp;
    <a href="https://Blogz.awomack333.repl.co/postpage">Add a Blog Post</a>&nbsp;&nbsp;&nbsp;
    <a href="https://Blogz.awomack333.repl.co/login">Log In</a>&nbsp;&nbsp;&nbsp;
    <a href="https://Blogz.awomack333.repl.co/logout">Log Out</a>&nbsp;&nbsp;&nbsp;
    <h1>Blogz</h1>
  </header>

  <body>
    <br><br><h2>{{title}} <br><i>written by <a href="https://Blogz.awomack333.repl.co/singleuser?users={{ownerid}}" class="user">{{ownerid}}<i></a></h2>
    <p>{{content}}</p><br><br>

</html>