<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>blogz</title>
    <!--<link href="style.css" rel="stylesheet" type="text/css" />-->
  </head>

  <header>
    <a href="https://Blogz.awomack333.repl.co">Home Page</a>&nbsp;&nbsp;&nbsp;
    <a href="https://Blogz.awomack333.repl.co/postpage">Add a Blog Post</a>&nbsp;&nbsp;&nbsp;
    <a href="https://Blogz.awomack333.repl.co/login">Log In</a>&nbsp;&nbsp;&nbsp;
    <a href="https://Blogz.awomack333.repl.co/logout">Log Out</a>&nbsp;&nbsp;&nbsp;
    <h1>Blogz</h1>
  </header>


  <body>
    <h3>Hello, it appears you are not logged in. You must be logged in to create a post on this blog. If you already have an account, enter your information below. If you do not have an account, please click the following link and make one: <a href="https://Blogz.awomack333.repl.co/signup">Sign-up Here</a>
    <br><h1>{{message}}</h2>
    <form action='/login' method="POST">
      <br>
      <h3>Enter your Username:</h3>
      <input type="text" name="username"></input>
      <h3>Enter your Password</h3>
      <input type="password" name="password"></input><br>
  
      <br><input type="submit" class="subButton" name="submit" value="Sign Up"></input>
    </form>
    <script src="main.py"></script>
  </body>

</html>