<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>blogz</title>
    <!--<link href="style.css" rel="stylesheet" type="text/css" />-->
  </head>


  <header>
    <a href = "https://Blogz.awomack333.repl.co">Home Page</a>&nbsp;&nbsp;&nbsp;
    <a href = "https://Blogz.awomack333.repl.co/postpage">Add a Blog Post</a>&nbsp;&nbsp;&nbsp;
    <a href="https://Blogz.awomack333.repl.co/login">Log In</a>&nbsp;&nbsp;&nbsp;
    <a href="https://Blogz.awomack333.repl.co/logout">Log Out</a>&nbsp;&nbsp;&nbsp;
    <h1>Blogz</h1>
    <h3>{{message}}</h3>
  </header>

  <body>
    <h3>Create your post here!<br></h3>
    <form action="https://Blogz.awomack333.repl.co/postpage" method="post" id="addPost">

      <p>Give your blog post a title:</p>
      <input type="text" name="Title"></input>

      <p>Write the body of your post here:</p>
      <input type="text" name="Content"></input>
      
      <br><input type="submit" class="subButton" value="Submit Post"></input>
    </form>
    <script src="main.py"></script>
  </body>

</html>